Repository DesaiVishal-16/DastavejSetu: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint"],
  "*.{css,md,json}": ["prettier --write"]
}

Refactor code structure for improved readability and maintainability
  .lintstagedrc.json
  .prettierignore
  api-server/eslint.config.mjs
  api-service/requirements.txt
  package-lock.json
Due: prettier --write

build(deps): update Pillow and opencv-python-headless versions
  api-service/requirements.txt
Due: none

rebrand: DastavejSetu to Udayam AI Labs
  frontend/app/layout.tsx
  frontend/app/login/page.tsx
  frontend/app/page.tsx
  frontend/app/signup/page.tsx
  frontend/components/dashboard-sidebar.tsx
Due: prettier --write, eslint

chore: update title to Table Extractor PRO
  frontend/app/layout.tsx
Due: prettier --write, eslint

feat: add Table Extractor PRO header section
  frontend/app/dashboard/page.tsx
Due: prettier --write, eslint

chore: use logo.png as favicon
  frontend/app/layout.tsx
Due: prettier --write, eslint

fix: replace favicon with logo.png
  frontend/app/favicon.ico
  frontend/app/layout.tsx
Due: prettier --write, eslint

refactor: replace page headers with static Table Extractor PRO
  frontend/app/dashboard/page.tsx
Due: prettier --write, eslint

refactor: add static Table Extractor PRO header to all pages
  frontend/app/dashboard/history/page.tsx
  frontend/app/dashboard/settings/page.tsx
  frontend/app/dashboard/upload/page.tsx
Due: prettier --write, eslint

refactor: add static Table Extractor PRO header to all pages
  .gitignore
  .vscode/settings.json
  .vscode/tasks.json
  frontend/app/dashboard/files/[fileId]/edit/public/fonts/README.md
  frontend/app/dashboard/files/[fileId]/edit/public/fonts/fa-brands-400.eot
  frontend/app/dashboard/files/[fileId]/edit/public/fonts/fa-brands-400.svg
  frontend/app/dashboard/files/[fileId]/edit/public/fonts/fa-brands-400.ttf
  frontend/app/dashboard/files/[fileId]/edit/public/fonts/fa-brands-400.woff
  frontend/app/dashboard/files/[fileId]/edit/public/fonts/fa-brands-400.woff2
  frontend/app/dashboard/files/[fileId]/edit/public/fonts/fa-regular-400.eot
  frontend/app/dashboard/files/[fileId]/edit/public/fonts/fa-regular-400.svg
  frontend/app/dashboard/files/[fileId]/edit/public/fonts/fa-regular-400.ttf
  frontend/app/dashboard/files/[fileId]/edit/public/fonts/fa-regular-400.woff
  frontend/app/dashboard/files/[fileId]/edit/public/fonts/fa-regular-400.woff2
  frontend/app/dashboard/files/[fileId]/edit/public/fonts/fa-solid-400.woff2
  frontend/app/dashboard/files/[fileId]/edit/public/fonts/fa-solid-900.eot
  frontend/app/dashboard/files/[fileId]/edit/public/fonts/fa-solid-900.svg
  frontend/app/dashboard/files/[fileId]/edit/public/fonts/fa-solid-900.ttf
  frontend/app/dashboard/files/[fileId]/edit/public/fonts/fa-solid-900.woff
  frontend/app/dashboard/files/[fileId]/edit/public/fonts/fa-solid-900.woff2
  frontend/app/dashboard/history/page.tsx
  frontend/app/dashboard/settings/page.tsx
  frontend/app/dashboard/upload/page.tsx
  frontend/postcss.config.mjs
Due: prettier --write, eslint
